.container{
    width: 90vw;
    height: 75vh;
    transform: translate(-50%, -50%);
    position:absolute;
    left: 50vw;
    top: 50vh;
    display: flex;
    gap: 4rem;
}

#about-left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#list-card{
    min-height:40vh;
    padding:3vh 3vw;
    min-width:35vw;
}

li{
    font-family: 'retganon';
    color:aliceblue;
    font-size: 5vw;
}

.colour-container{
    display:flex;
    width: 40vw;
    gap: 2rem;
    height: 40vh;
}

.colour-container > .pixel{
    margin-top: 3rem;
    width: 5rem;
    height: 5rem;
    color:white;
    font-size: 6rem;
    text-align: center;
    border-radius: .6rem;
}

.colour-container > .pixel:hover{
    background-color: rgb(117, 117, 194);
}

