.projects-card{
    padding:3rem;
    width:85vw;
    margin: 4vw 4vh;
}

.root{
    display: flex;
    flex-direction: column;
}

.card-container{
    display: flex;
    gap: 2rem;
    margin: 4vw 4vh;
}